<% var data = {
  title: "Interior",
  author: "Inshou"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<%= _.template(require('./../includes/slider.html'))() %>

<%= _.template(require('./../includes/features.html'))() %>

<%= _.template(require('./../includes/promo.html'))() %>

<%= _.template(require('./../includes/trands.html'))() %>

<%= _.template(require('./../includes/slider.1.html'))() %>

<%= _.template(require('./../includes/exclusive.html'))() %>

<%= _.template(require('./../includes/footer.html'))(data) %>