<% var data = {
  title: "Interior",
  author: "Inshou"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<section class="slider">
  <div class="slide slider__item">
    <img class="slide__image" src="img/slider-img.jpg" alt="slide">
    <div class="slide__content">
      <span class="slide__tag">Trending</span>
      <h3 class="slide__title">Fishnet Chair</h3>
      <article class="slide__article">
        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
      </article>
      <a class="btn btn--more" href="#" title="">Order us ></a>
    </div>
  </div>
  <nav class="thumbs slider__thumbs">
    <a class="thumbs__item" href="#" title="1"></a>
    <a class="thumbs__item thumbs__item--active" href="#" title="2"></a>
    <a class="thumbs__item" href="#" title="3"></a>
  </nav>
</section>

<section class="features">
  <header class="features__header">
    <nav class="tabs features__nav">
      <a class="tabs__item tabs__item--active" href="#">Featured</a>
      <a class="tabs__item" href="#">New</a>
    </nav>
    <a class="btn btn--clear" href="#" title="more">Explore all ></a>
  </header>
  <div class="features__content">
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-1.jpg" alt="feature-preview" />
    </div>
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-2.jpg" alt="feature-preview" />
    </div>
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-3.jpg" alt="feature-preview" />
    </div>
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-4.jpg" alt="feature-preview" />
    </div>
  </div>
</section>

<section class="promo">
    <div class="slide promo__item">
      <img class="slide__image" src="img/promo-img1.jpg" alt="promo">
      <div class="slide__content slide__content--promo">
        <span class="slide__tag slide__tag--promo">Trending</span>
        <h3 class="slide__title slide__title--promo">Fishnet Chair</h3>
        <article class="slide__article slide__article--promo">
          <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
        </article>
        <a class="btn btn--more" href="#" title="">Order us ></a>
      </div>
    </div>
      <div class="slide promo__item">
        <img class="slide__image" src="img/promo-img.jpg" alt="promo">
        <div class="slide__content slide__content--promo">
          <span class="slide__tag slide__tag--promo">Trending</span>
          <h3 class="slide__title slide__title--promo">Fishnet Chair</h3>
          <article class="slide__article slide__article--promo">
            <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
          </article>
          <a class="btn btn--more" href="#" title="">Order us ></a>
        </div>
      </div>
</section>

<section class="tranding">
  <header class="tranding__header">
    <h3 class="tranding__title">Trending Products</h3>
    <a class="btn btn--clear" href="#" title="more">Explore all ></a>
  </header>
  <div class="tranding__content">
    <div class="product-thumb tranding__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-1.jpg" alt="feature-preview" />
    </div>
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-2.jpg" alt="feature-preview" />
    </div>
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-3.jpg" alt="feature-preview" />
    </div>
    <div class="product-thumb features__item">
      <div class="product-thumb__content">
        <a class="btn btn--arrow" href="#" title="more">
            <svg class="arrow arrow--12_20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 20">
              <path d="M 2.29 20C 2.29 20 11.97 10 11.97 10 11.97 10 2.29-0 2.29-0 2.29-0-0.01 2.34-0.01 2.34-0.01 2.34 7.4 10 7.4 10 7.4 10-0.01 17.66-0.01 17.66-0.01 17.66 2.29 20 2.29 20Z"/>
            </svg>
        </a>
        <h3 class="product-thumb__header">Fishnet Chair</h3>
        <article class="product-thumb__text">
            Seat and back with upholstery made of cold cure foam. 
        </article>
      </div>
      <img class="product-thumb__image" src="img/product-4.jpg" alt="feature-preview" />
    </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html'))(data) %>