.addition-links{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.75rem;
    text-transform: uppercase;
    color: $color-darkgrey;

    &__item{
        color: $color-darkgrey;
        text-decoration: none;

        &:hover{
            color: $color-black;
        }
    }
}