@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?6rj5zk');
  src:  url('../fonts/icomoon/icomoon.eot?6rj5zk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?6rj5zk') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?6rj5zk') format('woff'),
    url('../fonts/icomoon/icomoon.svg?6rj5zk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-justify:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e906";
}
.icon-google+-with-circle:before {
  content: "\e900";
}
.icon-twitter-with-circle:before {
  content: "\e901";
}
.icon-facebook-with-circle:before {
  content: "\e902";
}
.icon-pinterest-with-circle:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-paper-plane:before {
  content: "\e905";
}
