/* Default font (loading in fonts.scss) */
$font-stack: Montserrat,'Open Sans','Helvetica Neue',sans-serif;

/* Sizes */
$page-max: 1366px;
$page-padding: 98px; 
$tablet-width: 1024px;
$notebook-width: 1280px;
$section-bottom: 7.5rem;

/* Colors */
$color-lightgrey: rgba(156, 156, 156, 1);
$color-grey: rgba(140,140,140,1);
$color-lightergrey: rgba(106,106,106,1);
$color-darkgrey: rgba(108, 108, 108, 1);
$color-notwhite: rgba(247,247,247,1);
$color-white: rgba(255,255,255,1);
$color-white-op90: rgba(255,255,255,0.9);
$color-black: rgba(33,33,33,1);
$color-black-op20: rgba(33,33,33,0.2);
$color-realblack: rgba(0,0,0,1);
$color-green: rgba(67, 160, 71, 1);
$color-blue: rgba(30, 136, 229, 1);
$color-red: rgba(229, 57, 53, 1);
$color-shadow: rgba(33, 33, 33, 0.35);

$color-input-border: rgba(217, 222, 225, 1);

/* Borders */
$border-bold: 3px;
$border: 1px;

/* Main elements */
@import 'fonts.scss';
@import 'social-icons.css';
@import 'btn.scss'; 

/* Main components */
@import 'header.scss';
@import 'logo.scss'; 
@import 'menu.scss'; 
@import 'footer.scss';
@import 'contacts.scss';
@import 'menu-bottom.scss';
@import 'subscribe.scss';
@import 'copyrights.scss';
@import 'addition-links.scss';

/* Basic blocks */
@import 'slide.scss'; 
@import 'product.scss';

/* Complex blocks */
@import 'slider.scss'; 
@import 'features.scss';
@import 'promo.scss';
@import 'trands.scss';
@import 'exclusive.scss';
@import 'mobile-app.scss';

/* Default body styles */
html{
  height: 100%;
}

body {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  height: 100%;
  color: $color-black;
}

.content {
  flex: 1;
}


