.menu-bottom{
    flex-basis: 26.375rem;
    font-size: 0.875rem;
    line-height: 1.375rem;

    &__content{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        text-decoration: none;
        color: $color-black;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.25rem;

        &:hover{
            color: $color-darkgrey;
        }
    }
}